.container {
 
  
  display: grid;



  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 0.5rem 0.3rem;
  /* align-content: space-around;
  justify-content: space-around;
  align-items: center; */

  
}


.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 200px;
}